*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.table{
    width: 300px;
    height: 300px;
    border: 1px solid rgb(158, 153, 153);
    background-color: rgb(158, 153, 153);
    margin: 120px auto;
}
.dong{
    display:grid;
    grid-template-columns: 30% 70%;
}
label{
    flex: 30%;
}

.icon{
    flex: 70%;
}
