*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    margin: 120px auto;
}
.container{
    height: 500px;
    width: 500px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    padding: 40px;
    height: 450px;
    width: 450px;
    background-color: rgb(242, 244, 246);
}
form div{
    color: rgb(106, 108, 106);
    font-size: 22px ;
    font-weight: 800;
}
p {
    color: rgb(14, 144, 48);
}
.row{
    display: flex;
    border: 1px solid;
    height: 40px;
    width: 350px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.icon{
    border-right:  1px solid;
    width: 20%;
    text-align: center;
    padding: 5px 0px;
    box-sizing: border-box;
}
.input{
    margin-left: 10px;
}
input{
    height: 39px;
    border-radius: 0px;
    border: none;
    outline: none;
    padding-left: 10px;
    margin-left: -10px;
    padding-right: 128px;
}
.date-gender,
.date-of-birth,
.gender-item,
.cardnumber,
.cardbottom,
.cardCVC{
    display: flex;
}
.box-date{
    height: 30px;
    width: 43px;
    padding: 0 10px;
    padding-left: 5px; 
    margin-left: 3px;
    border: 1px solid;
    padding-left: 10px;
    border-radius: 2px;
    box-sizing: border-box;
}
.gender{
    margin-left: 20px;
}

.gender-item input{
    display: none;
    padding: 0;
    margin: 0;   
    height: 30px;
    width: 65px;
      
}

.gender label{
    position: relative;
    color: aliceblue;
    border: 0.5px solid;
    font-size: 20px;
    color: black;
    border-radius: 5px;
    margin-left: 5px;
    height: 30px;
    width: 80px;
    font-weight: 400;
    padding-left: 5px;
    text-align: center;
}

input[type="radio"]:checked + label{
    background-color: rgb(12, 220, 23);
}

.payment-option{
    display: flex;
    border: 1px solid;
    height: 40px;
    width: 350px;
    margin-top: 20px;
    padding-top: 6px;
    box-sizing: border-box;
}
.credit{
    border-right: 1px solid;
    height: 40px;
    width: 180px;
    margin-top: -8px;
    padding-top: 7px;
    box-sizing: border-box;
    padding-left: 5px;
}
.paypal{
    height: 40px;
    width: 180px;
    margin-top: -8px;
    padding-top: 7px;
    box-sizing: border-box;
    padding-left: 5px;
}
.payment-option .credit:hover,.paypal:hover{
    background-color: rgb(3, 134, 27);
    color: white;
}

.cardnumber{
    border: 1px solid;
    margin-top: 15px;
    width: 350px;
}
.cardCVC{
    border: 1px solid;
    margin-top: 15px;
    width: 150px;
    height: 41px;
    box-sizing: border-box;
}
.cardCVC input{
    padding: 0;
    margin: 0;   
    padding-top: 5px;
    height: 39px;
    width: 110px;
    box-sizing: border-box;
    margin-left: -10px;
    padding-left: 10px;
    
}
.select-month{
   margin-top: 20px;
   display: flex;
}
select{
    margin-top: -6px;
    height: 40px;
    width: 70px;
    margin-left: 15px;
    border: 0.5px solid rgb(19, 31, 1);
    outline: none;
}